@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300&family=Ubuntu&display=swap');

body {
    height: 100vh;
    background: rgb(206, 163, 44);
    background: -moz-linear-gradient(135deg, rgba(206, 163, 44, 1) 0%, rgba(197, 70, 81, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(206, 163, 44, 1) 0%, rgba(197, 70, 81, 1) 100%);
    background: linear-gradient(135deg, rgba(206, 163, 44, 1) 0%, rgba(197, 70, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cea32c", endColorstr="#c54651", GradientType=1);
}

* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

/* Base Nav Bar */
.base-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 15px;
}

/* Logo */
.top-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.top-logo h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    letter-spacing: 2px;
    color: #fff;
}

.top-logo p {
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'open sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

/* Nav Menu */
.nav-menu {
    display: flex;
    list-style: none;
    font-size: 14px;
}

.nav-menu li {
    padding: 0px 15px;
}

.nav-menu li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.nav-menu li a:hover {
    text-decoration: wavy;
    color: rgb(0, 255, 166);
    text-shadow: 0px 6px 7px rgb(0, 255, 221);
}

/* Base Top */

.landing_top {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}